/*pagina individual para cada filme*/
.main_div {	
	min-width: 600px;
	width: 60%;
	margin-top: 5px;
	margin-right: auto;
    margin-left: auto; 
	overflow: hidden;
	height: 1%;
	background-color: #404040;
	border-radius: 5px;
	margin-bottom: 5px;
} 

.picture_2{
	
	width:25%;
	height: auto;
	float: left;
	border-style: groove;
	border-width: 2px;
	border-color: #ffffff;
	border-radius: 4px;
	margin: 20px 20px 20px 20px;
}
.picture_4{
	
	width:40px;
	height: 36px;
	float: left;
	border-style: groove;
	border-width: 2px;
	border-color: #ffffff;
	border-radius: 4px;
	margin: 20px 20px 20px 20px;
}
.text_div{
	float: right;
	text-align: justify;
    text-justify: inter-word;
	width: 65%;
	padding-right: 20px;
}
.reviews{

	margin: 500px 20px 0px 20px;
	width: auto;
	height: 50px;
	background-color: #737373;
	border-radius: 5px 5px 0px 0px;
	text-align: center;
	padding: 1px 0px;


}
.text_reviews{
	margin: 0px 20px 20px 20px;
	width: auto;
	overflow: hidden;
	height: 1%;
	background-color:  #8c8c8c;
}

.textarea {
	margin-top: 10px;
	resize: none;
	border-radius:4px;
	cursor:text;
	font-family:Verdana;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
	width: 640px;
	height: 90px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.container{
	width: 90%;
	margin-right: auto;
    margin-left: auto; 
	overflow: hidden;
	height: 1%;
	margin-top: 10px;
	
}
.review_div {	
	
	width: 89%;
	float: right; 
	overflow: hidden;
	height: 1%;
	background-color: #404040;
	border-radius: 4px;
	margin-bottom: 4px;
} 

.picture_3{
	
	width:10%;
	height: auto;
	float: left;
	border-style: groove;
	border-width: 2px;
	border-color: #ffffff;
	border-radius: 4px;
	margin: 20px 20px 20px 20px;
}

a.b:link {
	margin-right: 5px;
	margin-top: 5px;
	float: right;
    color: red;
    background-color: transparent;
}

a.b:visited {
    color: red;
    background-color: transparent;
}

a.c:link {
	
	margin-bottom: 5px;
	
    color: rgb(114, 21, 221);
    background-color: transparent;
}

a.c:visited {
    color: rgb(114, 21, 221);
    background-color: transparent;
}